BETTER_AUTH_SECRET=C3hR2TW4NReJH3NAFmddvkuabuG1Wgb9
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://pguser:pgpassword@localhost:5432/pgdb
GOOGLE_CLIENT_ID=713942402155-28fp3ml3frvd5nqv8cumvdgoe6lglfbk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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